*{
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.section_static-form,
.section_dynamic-form {
  min-width: 45%;
}

.static-form {
  display: flex;
  flex-direction: column;
}

.dynamic_form {
  display: none;
  flex-direction: column;
}

table,
thead,
tbody,
td,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.div_table-Btn{
  display: flex;
  gap: 1rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

input {
  border-color: black;
  border-radius: 3px;
}

.btns {
  margin-top: 0.6rem;
}

.icon_btn{
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.smallError {
  font-family: 'Roboto', sans-serif;
  color: red;
}

